<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragmentos/header :: head"></head>
<body>
	<div th:insert="/fragmentos/header :: menu"> </div>
	<br>
    <div class="container mt-4">
        <h2>Resultados de búsqueda</h2>

        <div th:if="${noCoincidencia}">
            <div class="alert alert-danger">
				no se encontró ninguna coincidencia
		</div>
        </div>

        <table class="table" th:if="${not #lists.isEmpty(empleados)}">
            <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">NOMBRES</th>
		      <th scope="col">ROL</th>
		      <th scope="col">ACCIONES</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="empleado : ${empleados}">
		      <th th:text="${empleado.id}" scope="row"></th>
		      <td th:text="${empleado.nombre}"></td>
		      <td th:text="${empleado.rol}"></td>
		      <td>
		      	<a href="#" class="btn btn-success">Editar</a>
		      	<a href=”#” class="btn btn-danger">Eliminar</a>
		      </td>
		    </tr>
		  </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
